header {
    display: flex;
    width: 100%;
    background-color: #a9a9a9;
}

header h1 {
    color: #333;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

header h2 {
    color: #555555;
    margin: 0;
    padding: 0;
}

.centerDiv {
    margin: 0 auto;
    padding: 40px;
}

.headerSocial {
    height: 25px;
    width: 25px;
}

.headerSocial:hover {
    cursor: pointer;
}